<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>CSC4710 Demo</display-name>
    <servlet>
        <description/>
        <display-name>UserServletRegister</display-name>
        <servlet-name>UserServletRegister</servlet-name>
        <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseFindAllServlet</servlet-name>
        <servlet-class>user.web.servlet.CourseFindAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorFindAllServlet</servlet-name>
        <servlet-class>user.web.servlet.ProfessorFindAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentFindAllServlet</servlet-name>
        <servlet-class>user.web.servlet.StudentFindAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>user.web.servlet.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>user.web.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServletRegister</servlet-name>
        <url-pattern>/UserServletRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>UserServletLogin</display-name>
        <servlet-name>UserServletLogin</servlet-name>
        <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServletLogin</servlet-name>
        <url-pattern>/UserServletLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>findAll</display-name>
        <servlet-name>findAll</servlet-name>
        <servlet-class>user.web.servlet.findAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findAll</servlet-name>
        <url-pattern>/findAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseFindAllServlet</servlet-name>
        <url-pattern>/CourseFindAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorFindAllServlet</servlet-name>
        <url-pattern>/ProfessorFindAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentFindAllServlet</servlet-name>
        <url-pattern>/StudentFindAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>jsps/user/login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
